@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Quicksand&family=Work+Sans&display=swap');

* {
  font-family: 'Mulish', sans-serif;
}

#about-me {
  text-align: left;
  max-width: 800px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 35px;
}

#prof-pic {
  max-width: 300px;
  max-height: fit-content;
}

#nav-buttons a:hover {
  color: plum;
}

#nav-buttons {
  font-size: 20px;
}

#icons {
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
}

#short-contact-info {
  display: flex;
  font-size: 15px;
  justify-content: center;
}

.font-wight-bold {
  font-weight: bold;
  color: purple;
}

.contact-info {
  padding: 10px;
  margin: 20px;
}