h1 {
  color: purple
}

#about-me {
  text-align: left;
  max-width: 800px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 35px;
}

#prof-pic {
  max-width: 250px;
}

#nav-buttons a:hover {
  color: plum;
}

#nav-buttons {
  font-size: 20px;
}